main {
    background-image: url(../accueil/images/bg.webp);
}

img {
    width: 20rem;
    height: 20rem;
}

#container {
    margin-left: -6rem;
}

#cat {
    margin-left: 2rem;
}

h3 {
    text-align: center;
    margin-left: -3rem;
}

#desserts {
    margin-left: -4.5rem;
}